.nyx-badge {
  --nyx-c-badge-text: var(--nyx-c-text-1);
  --nyx-c-badge: var(--nyx-c-default);
  --nyx-c-badge-highlight: var(--nyx-c-default-highlight);
  --nyx-c-badge-alt: var(--nyx-c-default-alt);
  --nyx-pad-badge: var(--nyx-pad-md);
  --nyx-font-size-badge: var(--nyx-font-size-md);
  --nyx-h-badge: calc(var(--nyx-font-size-badge) * 1.5);
  --nyx-border-size-badge: 1px;

  display: inline-flex;
  font-size: calc(0.9 * var(--nyx-font-size-badge));
  line-height: 1.5;
  color: var(--nyx-c-badge-text);
  background-color: var(--nyx-c-badge);
  border-radius: var(--nyx-radius-lg);
  border: var(--nyx-border-size-badge) solid var(--nyx-c-badge);
  user-select: none;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, transform 0.2s;

  &:hover {
    background-color: var(--nyx-c-badge-highlight);
    border-color: var(--nyx-c-badge-highlight);
  }

  & > span {
    display: flex;
    width: 100%;
    padding: 0 calc(0.5 * var(--nyx-pad-badge));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: width 0.2s;
  }

  &--closable > &__button.shape-circle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    height: var(--nyx-h-badge);
    width: var(--nyx-h-badge);
    line-height: 1;
    opacity: 0;
    pointer-events: none;
    border-color: transparent;
    color: var(--nyx-c-badge-text);
    transition: opacity 0.2s, border-color 0.2s, background-color 0.2s;

    &:hover {
      border-color: var(--nyx-c-text-3);
    }

    &:active {
      background-color: var(--nyx-c-badge);
    }
  }

  &--closable:hover > span {
    width: calc(100% - 1.1 * var(--nyx-h-badge));
  }

  &--closable:hover > &__button.shape-circle {
    opacity: 1;
    pointer-events: all;
  }

  &.theme-primary {
    --nyx-c-badge: var(--nyx-c-primary);
    --nyx-c-badge-highlight: var(--nyx-c-primary-highlight);
    --nyx-c-badge-alt: var(--nyx-c-primary-alt);
  }

  &.theme-secondary {
    --nyx-c-badge: var(--nyx-c-secondary);
    --nyx-c-badge-highlight: var(--nyx-c-secondary-highlight);
    --nyx-c-badge-alt: var(--nyx-c-secondary-alt);
  }

  &.theme-info {
    --nyx-c-badge: var(--nyx-c-info);
    --nyx-c-badge-highlight: var(--nyx-c-info-highlight);
    --nyx-c-badge-alt: var(--nyx-c-info-alt);
  }

  &.theme-success {
    --nyx-c-badge: var(--nyx-c-success);
    --nyx-c-badge-highlight: var(--nyx-c-success-highlight);
    --nyx-c-badge-alt: var(--nyx-c-success-alt);
  }

  &.theme-warning {
    --nyx-c-badge: var(--nyx-c-warning);
    --nyx-c-badge-highlight: var(--nyx-c-warning-highlight);
    --nyx-c-badge-alt: var(--nyx-c-warning-alt);
  }

  &.theme-danger {
    --nyx-c-badge: var(--nyx-c-danger);
    --nyx-c-badge-highlight: var(--nyx-c-danger-highlight);
    --nyx-c-badge-alt: var(--nyx-c-danger-alt);
  }

  &.variant-outline {
    background-color: transparent;
    color: var(--nyx-c-badge-alt);
    border-color: var(--nyx-c-badge-alt);

    &:hover {
      background-color: var(--nyx-c-badge-alt);
      border-color: var(--nyx-c-badge-alt);
      color: var(--nyx-c-badge-text);
    }
  }

  &.variant-ghost {
    background-color: transparent;
    border-color: transparent;
    color: var(--nyx-c-badge-alt);

    &:hover {
      border-color: var(--nyx-c-badge-alt);
    }
  }

  &.variant-text {
    background-color: transparent;
    border-color: transparent;
    color: var(--nyx-c-badge-highlight);
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      width: calc(100% - 2 * var(--nyx-pad-badge));
      height: var(--nyx-border-size-badge);
      background-color: var(--nyx-c-badge-highlight);
      border-radius: var(--nyx-radius-xl);
      opacity: 0;
      transform: scaleX(0);
      transition: opacity 0.2s, transform 0.2s;
    }

    &:hover:after {
      opacity: 1;
      transform: scaleX(1);
    }
  }

  &.size-xs {
    --nyx-pad-badge: var(--nyx-pad-xs);
    --nyx-font-size-badge: var(--nyx-font-size-xs);
    --nyx-border-size-badge: 1px;
  }

  &.size-sm {
    --nyx-pad-badge: var(--nyx-pad-sm);
    --nyx-font-size-badge: var(--nyx-font-size-sm);
    --nyx-border-size-badge: 1px;
  }

  &.size-lg {
    --nyx-pad-badge: var(--nyx-pad-lg);
    --nyx-font-size-badge: var(--nyx-font-size-lg);
    --nyx-border-size-badge: 2px;
  }

  &.size-xl {
    --nyx-pad-badge: var(--nyx-pad-xl);
    --nyx-font-size-badge: var(--nyx-font-size-xl);
    --nyx-border-size-badge: 3px;
  }
}