.nyx-slider {
  --nyx-slider-min: 0;
  --nyx-slider-max: 100;
  --nyx-slider-h-track: calc(var(--nyx-pad-md) * 0.5);
  --nyx-slider-w-thumb: calc(var(--nyx-slider-h-track) * 2.25);
  --nyx-slider-h-thumb: var(--nyx-slider-w-thumb);
  --nyx-c-slider: var(--nyx-c-default);
  --nyx-c-slider-highlight: var(--nyx-c-default-highlight);
  --nyx-c-slider-alt: var(--nyx-c-default-alt);
  --nyx-rgb-slider: var(--nyx-rgb-default);
  --nyx-radius-slider-thumb: var(--nyx-radius-sm);

  position: relative;
  width: 100%;
  height: calc(2 * var(--nyx-slider-w-thumb));

  &::after,
  &__thumb,
  &__track-highlight {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  &::after {
    content: '';
    width: 100%;
    height: var(--nyx-slider-h-track);
    background-color: rgba(var(--nyx-rgb-slider), 0.25);
    border-radius: var(--nyx-radius-md);
    cursor: pointer;
    z-index: -1;
  }

  &__track-highlight {
    height: var(--nyx-slider-h-track);
    background-color: var(--nyx-c-slider-highlight);
    border-radius: var(--nyx-radius-md);
    z-index: -1;
  }

  &__thumb {
    width: var(--nyx-slider-w-thumb);
    height: var(--nyx-slider-h-thumb);
    background-color: var(--nyx-c-slider-alt);
    border: 2px solid var(--nyx-c-slider-highlight);
    border-radius: var(--nyx-radius-slider-thumb);
    transform: translate(-50%, -50%);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  &.theme-primary {
    --nyx-c-slider: var(--nyx-c-primary);
    --nyx-c-slider-highlight: var(--nyx-c-primary-highlight);
    --nyx-c-slider-alt: var(--nyx-c-primary-alt);
    --nyx-rgb-slider: var(--nyx-rgb-primary);
  }

  &.theme-secondary {
    --nyx-c-slider: var(--nyx-c-secondary);
    --nyx-c-slider-highlight: var(--nyx-c-secondary-highlight);
    --nyx-c-slider-alt: var(--nyx-c-secondary-alt);
    --nyx-rgb-slider: var(--nyx-rgb-secondary);
  }

  &.theme-info {
    --nyx-c-slider: var(--nyx-c-info);
    --nyx-c-slider-highlight: var(--nyx-c-info-highlight);
    --nyx-c-slider-alt: var(--nyx-c-info-alt);
    --nyx-rgb-slider: var(--nyx-rgb-info);
  }

  &.theme-success {
    --nyx-c-slider: var(--nyx-c-success);
    --nyx-c-slider-highlight: var(--nyx-c-success-highlight);
    --nyx-c-slider-alt: var(--nyx-c-success-alt);
    --nyx-rgb-slider: var(--nyx-rgb-success);
  }

  &.theme-warning {
    --nyx-c-slider: var(--nyx-c-warning);
    --nyx-c-slider-highlight: var(--nyx-c-warning-highlight);
    --nyx-c-slider-alt: var(--nyx-c-warning-alt);
    --nyx-rgb-slider: var(--nyx-rgb-warning);
  }

  &.theme-danger {
    --nyx-c-slider: var(--nyx-c-danger);
    --nyx-c-slider-highlight: var(--nyx-c-danger-highlight);
    --nyx-c-slider-alt: var(--nyx-c-danger-alt);
    --nyx-rgb-slider: var(--nyx-rgb-danger);
  }

  &.shape-circle &__thumb {
    border-radius: 50%;
  }

  &.shape-rectangle {
    --nyx-slider-h-thumb: calc(2 * var(--nyx-slider-w-thumb));
  }
}
