.nyx-slider {
  --nyx-slider-min: 0;
  --nyx-slider-max: 100;
  --nyx-slider-h: calc(var(--nyx-pad-md) * 0.5);
  --nyx-slider-h-thumb: calc(var(--nyx-slider-h) * 2);
  --nyx-c-slider: var(--nyx-c-default);
  --nyx-c-slider-highlight: var(--nyx-c-default-highlight);
  --nyx-rgb-slider: var(--nyx-rgb-default);

  position: relative;
  width: 100%;
  height: var(--nyx-slider-h);

  input[type="range"] {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    appearance: none;
    background: transparent;
    cursor: pointer;
    pointer-events: none;

    &::-webkit-slider-runnable-track,
    &::-moz-range-track {
      width: 100%;
      height: var(--nyx-slider-h);
      background: transparent;
    }

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      width: var(--nyx-slider-h-thumb);
      height: var(--nyx-slider-h-thumb);
      background: var(--nyx-c-text-1);
      border: 2px solid var(--nyx-c-slider);
      border-radius: 50%;
      pointer-events: auto;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      position: relative;
    }
  }

  &__track {
    position: absolute;
    height: 50%;
    width: 100%;
    border-radius: var(--nyx-radius-sm);
    background-color: rgba(var(--nyx-rgb-slider), 0.5);
    top: 50%;
    // transform: translateY(-50%);

    &--active {
      --width: calc(var(--nyx-slider-max) - var(--nyx-slider-min));
      --left: var(--nyx-slider-min);
      background-color: var(--nyx-c-slider);
      width: var(--width);
      left: var(--left);
      // width: 100%;
      // left: 0;
      // transform: scaleX(var(--width)) translateX(var(--left));
      // transform-origin: left;
    }
  }

  &__thumb {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;

    &.min {
      left: var(--nyx-slider-min);
      transform: translateX(calc(100% - var(--nyx-slider-min) - (var(--nyx-slider-h-thumb) * 0.5)))
    }

    &.max {
      left: var(--nyx-slider-max);
      transform: translateX(calc(100% - var(--nyx-slider-max) - (var(--nyx-slider-h-thumb) * 0.5)))
    }
  }

  &.theme-primary {
    --nyx-c-slider: var(--nyx-c-primary);
    --nyx-c-slider-highlight: var(--nyx-c-primary-highlight);
    --nyx-c-slider-alt: var(--nyx-c-primary-alt);
    --nyx-rgb-slider: var(--nyx-rgb-primary);
  }

  &.theme-secondary {
    --nyx-c-slider: var(--nyx-c-secondary);
    --nyx-c-slider-highlight: var(--nyx-c-secondary-highlight);
    --nyx-c-slider-alt: var(--nyx-c-secondary-alt);
    --nyx-rgb-slider: var(--nyx-rgb-secondary);
  }

  &.theme-info {
    --nyx-c-slider: var(--nyx-c-info);
    --nyx-c-slider-highlight: var(--nyx-c-info-highlight);
    --nyx-c-slider-alt: var(--nyx-c-info-alt);
    --nyx-rgb-slider: var(--nyx-rgb-info);
  }

  &.theme-success {
    --nyx-c-slider: var(--nyx-c-success);
    --nyx-c-slider-highlight: var(--nyx-c-success-highlight);
    --nyx-c-slider-alt: var(--nyx-c-success-alt);
    --nyx-rgb-slider: var(--nyx-rgb-success);
  }

  &.theme-warning {
    --nyx-c-slider: var(--nyx-c-warning);
    --nyx-c-slider-highlight: var(--nyx-c-warning-highlight);
    --nyx-c-slider-alt: var(--nyx-c-warning-alt);
    --nyx-rgb-slider: var(--nyx-rgb-warning);
  }

  &.theme-danger {
    --nyx-c-slider: var(--nyx-c-danger);
    --nyx-c-slider-highlight: var(--nyx-c-danger-highlight);
    --nyx-c-slider-alt: var(--nyx-c-danger-alt);
    --nyx-rgb-slider: var(--nyx-rgb-danger);
  }
}
