.nyx-breadcrumbs {
  --nyx-c-breadcrumbs-text: var(--nyx-c-default-alt);
  --nyx-c-breadcrumbs-separator: var(--nyx-c-default);
  --nyx-font-size-breadcrumbs: var(--nyx-font-size-md);
  --nyx-pad-breadcrumbs: var(--nyx-pad-md);
  --nyx-gap-breadcrumbs: var(--nyx-gap-md);

  color: var(--nyx-c-breadcrumbs-text);
  font-size: var(--nyx-font-size-breadcrumbs);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: var(--nyx-radius-md);

  &__separator {
    color: var(--nyx-c-breadcrumbs-separator);
    fill: var(--nyx-c-breadcrumbs-separator);
    user-select: none;
    opacity: 0.5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-inline: calc(var(--nyx-pad-breadcrumbs) * 0.25);
  }

  &__item {
    display: inline-flex;
    align-items: center;
    gap: var(--nyx-gap-breadcrumbs);
    padding: calc(var(--nyx-pad-breadcrumbs) * 0.5) var(--nyx-pad-breadcrumbs);
    transition: opacity 0.2s;
    color: inherit;
    text-decoration: none;
  }

  &__item-content {
    display: inline-flex;
    align-items: center;
    gap: var(--nyx-gap-breadcrumbs);
  }

  &__icon {
    color: inherit;
  }

  &__item--link:hover {
    opacity: 0.8;
  }

  &__item--static {
    cursor: default;
  }

  &.variant-filled {
    background-color: var(--nyx-c-breadcrumbs-separator);
    color: var(--nyx-c-text-1);
  }

  &.variant-filled &__separator {
    color: var(--nyx-c-text-1);
    fill: var(--nyx-c-text-1);
  }

  &.theme-primary {
    --nyx-c-breadcrumbs-text: var(--nyx-c-primary-alt);
    --nyx-c-breadcrumbs-separator: var(--nyx-c-primary);
  }

  &.theme-secondary {
    --nyx-c-breadcrumbs-text: var(--nyx-c-secondary-alt);
    --nyx-c-breadcrumbs-separator: var(--nyx-c-secondary);
  }

  &.theme-success {
    --nyx-c-breadcrumbs-text: var(--nyx-c-success-alt);
    --nyx-c-breadcrumbs-separator: var(--nyx-c-success);
  }

  &.theme-warning {
    --nyx-c-breadcrumbs-text: var(--nyx-c-warning-alt);
    --nyx-c-breadcrumbs-separator: var(--nyx-c-warning);
  }

  &.theme-danger {
    --nyx-c-breadcrumbs-text: var(--nyx-c-danger-alt);
    --nyx-c-breadcrumbs-separator: var(--nyx-c-danger);
  }

  &.theme-info {
    --nyx-c-breadcrumbs-text: var(--nyx-c-info-alt);
    --nyx-c-breadcrumbs-separator: var(--nyx-c-info);
  }

  &.size-xs {
    --nyx-font-size-breadcrumbs: var(--nyx-font-size-xs);
  }

  &.size-sm {
    --nyx-font-size-breadcrumbs: var(--nyx-font-size-sm);
  }

  &.size-lg {
    --nyx-font-size-breadcrumbs: var(--nyx-font-size-lg);
  }

  &.size-xl {
    --nyx-font-size-breadcrumbs: var(--nyx-font-size-xl);
  }
}
