$pixel-shadow:
  /* inner border */
  var(--nyx-pixel-size) 0px var(--nyx-pixel-c-highlight),
  0px var(--nyx-pixel-size) var(--nyx-pixel-c-highlight),
  calc(0px - var(--nyx-pixel-size)) 0px var(--nyx-pixel-c-highlight),
  0px calc(0px - var(--nyx-pixel-size)) var(--nyx-pixel-c-highlight);

$pixel-shadow-button:
  /* inner border */
  var(--nyx-pixel-size) 0px var(--nyx-pixel-c-highlight),
  0px var(--nyx-pixel-size) var(--nyx-pixel-c-highlight),
  calc(0px - var(--nyx-pixel-size)) 0px var(--nyx-pixel-c-highlight),
  0px calc(0px - var(--nyx-pixel-size)) var(--nyx-pixel-c-highlight),

  /* outer border */
  calc(var(--nyx-pixel-size) * 2) 0px var(--nyx-pixel-c-alt),
  0px calc(var(--nyx-pixel-size) * 2) var(--nyx-pixel-c-alt),
  calc(0px - 2 * var(--nyx-pixel-size)) 0px var(--nyx-pixel-c-alt),
  0px calc(0px - 2 * var(--nyx-pixel-size)) var(--nyx-pixel-c-alt),

  /* outer border corners */
  var(--nyx-pixel-size) calc(0px - var(--nyx-pixel-size)) var(--nyx-pixel-c-alt),
  calc(0px - var(--nyx-pixel-size)) var(--nyx-pixel-size) var(--nyx-pixel-c-alt),
  calc(0px - var(--nyx-pixel-size)) calc(0px - var(--nyx-pixel-size)) var(--nyx-pixel-c-alt),
  calc(var(--nyx-pixel-size)) var(--nyx-pixel-size) var(--nyx-pixel-c-alt);

$pixel-shadow-modal:
  /* inner border */
  var(--nyx-pixel-size) 0px var(--nyx-pixel-c-highlight),
  0px var(--nyx-pixel-size) var(--nyx-pixel-c-highlight),
  calc(0px - var(--nyx-pixel-size)) 0px var(--nyx-pixel-c-highlight),
  0px calc(0px - var(--nyx-pixel-size)) var(--nyx-pixel-c-highlight),

  /* outer border */
  calc(var(--nyx-pixel-size) * 2) 0px var(--nyx-pixel-c-alt),
  0px calc(var(--nyx-pixel-size) * 2) var(--nyx-pixel-c-alt),

  /* outer border corners */
  var(--nyx-pixel-size) calc(0px - var(--nyx-pixel-size)) var(--nyx-pixel-c-alt),
  calc(0px - var(--nyx-pixel-size)) var(--nyx-pixel-size) var(--nyx-pixel-c-alt),
  calc(var(--nyx-pixel-size)) var(--nyx-pixel-size) var(--nyx-pixel-c-alt);

$pixel-shadow-after:
  var(--nyx-pixel-size) 0 var(--nyx-pixel-c),
  0 var(--nyx-pixel-size) var(--nyx-pixel-c),
  calc(0px - var(--nyx-pixel-size)) 0 var(--nyx-pixel-c),
  0 calc(0px - var(--nyx-pixel-size)) var(--nyx-pixel-c);

$pixel-shadow-button-interact:
  /* inner border */
  var(--nyx-pixel-size) 0px var(--nyx-pixel-c),
  0px var(--nyx-pixel-size) var(--nyx-pixel-c),
  calc(0px - var(--nyx-pixel-size)) 0px var(--nyx-pixel-c),
  0px calc(0px - var(--nyx-pixel-size)) var(--nyx-pixel-c),

  /* outer border */
  calc(var(--nyx-pixel-size) * 2) 0px var(--nyx-pixel-c-highlight),
  0px calc(var(--nyx-pixel-size) * 2) var(--nyx-pixel-c-highlight),
  calc(0px - 2 * var(--nyx-pixel-size)) 0px var(--nyx-pixel-c-highlight),
  0px calc(0px - 2 * var(--nyx-pixel-size)) var(--nyx-pixel-c-highlight),

  /* outer border corners */
  var(--nyx-pixel-size) calc(0px - var(--nyx-pixel-size)) var(--nyx-pixel-c-highlight),
  calc(0px - var(--nyx-pixel-size)) var(--nyx-pixel-size) var(--nyx-pixel-c-highlight),
  calc(0px - var(--nyx-pixel-size)) calc(0px - var(--nyx-pixel-size)) var(--nyx-pixel-c-highlight),
  calc(var(--nyx-pixel-size)) var(--nyx-pixel-size) var(--nyx-pixel-c-highlight);

@mixin pixel-base {
  font-family: var(--nyx-font-family-pixel);
  background-color: var(--nyx-pixel-c);
  border-radius: 0;
  border: var(--nyx-pixel-size) solid var(--nyx-pixel-c-highlight);
  image-rendering: pixelated; /* prevents anti-aliasing */
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: $pixel-shadow-after;
    pointer-events: none;
  }
}

@mixin pixel-button {
  @include pixel-base();
  box-shadow: $pixel-shadow-button;
  text-transform: uppercase;
  transition: none;

  &:hover {
    background-color: var(--nyx-pixel-c);
  }

  &:active {
    transform: scale(0.95) translate(0, var(--nyx-pixel-size));
    box-shadow: $pixel-shadow-button-interact;
    border-color: transparent;
  }
}

@mixin pixel-field {
  @include pixel-base();
  box-shadow: $pixel-shadow;
  transition: none;

  // &:hover {
  //   background-color: var(--nyx-pixel-c);
  // }
}

@mixin pixel-modal {
  @include pixel-base();
  box-shadow: $pixel-shadow-modal;
  overflow: visible;
}
