/**
 * Colors Base
 *
 * These are the pure base color presets. Most of the time, you should not be
 * using these colors directly in the theme but rather use "Colors Theme"
 * instead because those are "Theme (light or dark)" dependant.
 * -------------------------------------------------------------------------- */

 :root {
  --nyx-c-white: #ffffff;
  --nyx-c-white-soft: #f9f9f9;
  --nyx-c-white-mute: #f1f1f1;

  --nyx-c-black: #1a1a1a;
  --nyx-c-black-pure: #000000;
  --nyx-c-black-soft: #242424;
  --nyx-c-black-mute: #2f2f2f;

  --nyx-c-gray: #8E8E8E;
  --nyx-c-gray-light-1: #A4A4A4;
  --nyx-c-gray-light-2: #BABABA;
  --nyx-c-gray-light-3: #CFCFCF;
  --nyx-c-gray-light-4: #E3E3E3;
  --nyx-c-gray-light-5: #F5F5F5;
  --nyx-c-gray-dark-1: #636363;
  --nyx-c-gray-dark-2: #484848;
  --nyx-c-gray-dark-3: #3A3A3A;
  --nyx-c-gray-dark-4: #282828;
  --nyx-c-gray-dark-5: #202020;

  --nyx-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --nyx-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --nyx-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --nyx-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --nyx-c-text-light-1: var(--nyx-c-primary);
  --nyx-c-text-light-2: rgba(60, 60, 60, 0.70);
  --nyx-c-text-light-3: rgba(60, 60, 60, 0.33);
  --nyx-c-text-light-4: rgba(60, 60, 60, 0.18);
  --nyx-c-text-light-code: var(--nyx-c-primary-darkest);

  --nyx-c-text-dark-1: rgba(255, 255, 255, 0.87);
  --nyx-c-text-dark-2: rgba(235, 235, 235, 0.60);
  --nyx-c-text-dark-3: rgba(235, 235, 235, 0.38);
  --nyx-c-text-dark-4: rgba(235, 235, 235, 0.18);
  --nyx-c-text-dark-code: var(--nyx-c-indigo-lightest);

  --nyx-c-purple: #9F50F0;
  --nyx-c-purple-light: #B583FF;
  --nyx-c-purple-lighter: #D3A7FF;
  --nyx-c-purple-lightest: #EAD7FF;
  --nyx-c-purple-dark: #8A2BE2;
  --nyx-c-purple-darker: #6F1AB6;
  --nyx-c-purple-darkest: #4B0082;

  --nyx-c-purplegray: #71657A;
  --nyx-c-purplegray-light: #8A7E96;
  --nyx-c-purplegray-lighter: #A49AAE;
  --nyx-c-purplegray-lightest: #C2B8CB;
  --nyx-c-purplegray-dark: #5D5466;
  --nyx-c-purplegray-darker: #4B4453;
  --nyx-c-purplegray-darkest: #3A353F;

  --nyx-c-teal: #0F4C75;
  --nyx-c-teal-light: #3282B8;
  --nyx-c-teal-lighter: #84D7F1;
  --nyx-c-teal-dark: #0A3046;
  --nyx-c-teal-darker: #051E2D;

  --nyx-c-green: #1FAA59;
  --nyx-c-green-light: #23CE6B;
  --nyx-c-green-lighter: #5EE787;
  --nyx-c-green-dark: #137D4D;
  --nyx-c-green-darker: #0B4F32;

  --nyx-c-amber: #E58E26;
  --nyx-c-amber-light: #F3A847;
  --nyx-c-amber-lighter: #FFC067;
  --nyx-c-amber-dark: #B86519;
  --nyx-c-amber-darker: #8C4C15;

  --nyx-c-red: #D72638;
  --nyx-c-red-light: #E63946;
  --nyx-c-red-lighter: #F86C6B;
  --nyx-c-red-dark: #9B1C26;
  --nyx-c-red-darker: #73101A;

  --nyx-c-blue: #3B82F6;
  --nyx-c-blue-light: #60A5FA;
  --nyx-c-blue-lighter: #93C5FD;
  --nyx-c-blue-dark: #2563EB;
  --nyx-c-blue-darker: #1E40AF;
}

/**
 * Colors Theme
 * -------------------------------------------------------------------------- */

:root {
  --nyx-c-bg: var(--nyx-c-black);
  --nyx-c-bg-soft: var(--nyx-c-black-soft);
  --nyx-c-bg-mute: var(--nyx-c-black-mute);

  --nyx-c-divider: var(--nyx-c-divider-dark-1);
  --nyx-c-divider-light: var(--nyx-c-divider-dark-2);

  --nyx-c-divider-inverse: var(--nyx-c-divider-light-1);
  --nyx-c-divider-inverse-light: var(--nyx-c-divider-light-2);

  --nyx-c-text-1: var(--nyx-c-text-dark-1);
  --nyx-c-text-2: var(--nyx-c-text-dark-2);
  --nyx-c-text-3: var(--nyx-c-text-dark-3);
  --nyx-c-text-4: var(--nyx-c-text-dark-4);
  --nyx-c-text-code: var(--nyx-c-text-dark-code);

  --nyx-c-text-inverse-1: var(--nyx-c-text-light-1);
  --nyx-c-text-inverse-2: var(--nyx-c-text-light-2);
  --nyx-c-text-inverse-3: var(--nyx-c-text-light-3);
  --nyx-c-text-inverse-4: var(--nyx-c-text-light-4);

  --nyx-c-default: var(--nyx-c-purplegray);
  --nyx-c-default-light: var(--nyx-c-purplegray-light);
  --nyx-c-default-dark: var(--nyx-c-purplegray-dark);
  --nyx-c-default-highlight: var(--nyx-c-purplegray-light);
  --nyx-c-default-alt: var(--nyx-c-purplegray-lighter);

  --nyx-c-primary: var(--nyx-c-purple);
  --nyx-c-primary-light: var(--nyx-c-purple-light);
  --nyx-c-primary-dark: var(--nyx-c-purple-dark);
  --nyx-c-primary-highlight: var(--nyx-c-purple-light);
  --nyx-c-primary-alt: var(--nyx-c-purple-lighter);

  --nyx-c-secondary: var(--nyx-c-teal);
  --nyx-c-secondary-light: var(--nyx-c-teal-light);
  --nyx-c-secondary-dark: var(--nyx-c-teal-dark);
  --nyx-c-secondary-highlight: var(--nyx-c-teal-light);
  --nyx-c-secondary-alt: var(--nyx-c-teal-lighter);

  --nyx-c-info: var(--nyx-c-blue);
  --nyx-c-info-light: var(--nyx-c-blue-light);
  --nyx-c-info-dark: var(--nyx-c-blue-dark);
  --nyx-c-info-highlight: var(--nyx-c-blue-light);
  --nyx-c-info-alt: var(--nyx-c-blue-lighter);

  --nyx-c-success: var(--nyx-c-green);
  --nyx-c-success-light: var(--nyx-c-green-light);
  --nyx-c-success-dark: var(--nyx-c-green-dark);
  --nyx-c-success-highlight: var(--nyx-c-green-light);
  --nyx-c-success-alt: var(--nyx-c-green-lighter);

  --nyx-c-warning: var(--nyx-c-amber);
  --nyx-c-warning-light: var(--nyx-c-amber-light);
  --nyx-c-warning-dark: var(--nyx-c-amber-dark);
  --nyx-c-warning-highlight: var(--nyx-c-amber-light);
  --nyx-c-warning-alt: var(--nyx-c-amber-lighter);

  --nyx-c-danger: var(--nyx-c-red);
  --nyx-c-danger-light: var(--nyx-c-red-light);
  --nyx-c-danger-dark: var(--nyx-c-red-dark);
  --nyx-c-danger-highlight: var(--nyx-c-red-light);
  --nyx-c-danger-alt: var(--nyx-c-red-lighter);

  --nyx-c-info: var(--nyx-c-default);
  --nyx-c-info-light: var(--nyx-c-default-light);
  --nyx-c-info-dark: var(--nyx-c-default-dark);
  --nyx-c-info-highlight: var(--nyx-c-default-highlight);
  --nyx-c-info-alt: var(--nyx-c-default-alt);
}

/**
 * Typography
 * -------------------------------------------------------------------------- */

:root {
  --nyx-font-family-base: 'Inter var experimental', 'Inter var', Inter,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /**
    * See <https://haoqun.blog/posts/2024/blogged-pull-requests-monospace/>
    * for more details on the font selection
    */
  --nyx-font-family-mono: ui-monospace, 'SF Mono', 'SFMono-Regular', Menlo,
    Monaco, 'Cascadia Mono', Consolas, 'Liberation Mono', 'Noto Sans Mono',
    'DejaVu Sans Mono', 'Roboto Mono', 'Courier New', monospace;
}

/**
 * Shadows
 * -------------------------------------------------------------------------- */

:root {
  --nyx-shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --nyx-shadow-sm: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --nyx-shadow-md: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --nyx-shadow-lg: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --nyx-shadow-xl: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);
}

/**
 * Gaps
 * -------------------------------------------------------------------------- */

 :root {
  --nyx-gap-xs: 0.1rem;
  --nyx-gap-sm: 0.25rem;
  --nyx-gap-md: 0.5rem;
  --nyx-gap-lg: 0.75rem;
  --nyx-gap-xl: 1rem;
}

/**
 * Radius
 * -------------------------------------------------------------------------- */

 :root {
  --nyx-radius-xs: 0.1rem;
  --nyx-radius-sm: 0.25rem;
  --nyx-radius-md: 0.5rem;
  --nyx-radius-lg: 0.75rem;
  --nyx-radius-xl: 1rem;
  --nyx-radius-max: 100%;
}

/**
 * Padding
 * -------------------------------------------------------------------------- */

 :root {
  --nyx-pad-xs: 0.7rem;
  --nyx-pad-sm: 0.8rem;
  --nyx-pad-md: 0.9rem;
  --nyx-pad-lg: 1rem;
  --nyx-pad-xl: 1.1rem;
}

/**
 * Font Sizes
 * -------------------------------------------------------------------------- */

 :root {
  --nyx-font-size-xs: 0.7rem;
  --nyx-font-size-sm: 0.8rem;
  --nyx-font-size-md: 0.9rem;
  --nyx-font-size-lg: 1rem;
  --nyx-font-size-xl: 1.1rem;
}

/**
 * Magic Numbers
 * -------------------------------------------------------------------------- */

:root {
  --nyx-nav-height: 55px;
}