.nyx-button {
  --nyc-c-button-text: var(--nyx-c-white-soft);
  --nyx-c-button-background: var(--nyx-c-default);
  --nyx-c-button-background-hover: var(--nyx-c-default-highlight);
  --nyx-gap-button: var(--nyx-gap-md);
  --nyx-pad-button: var(--nyx-pad-md);
  --nyx-font-size-button: var(--nyx-font-size-md);
  --nyx-border-size-button: 2px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: var(--nyx-font-size-button);
  gap: var(--nyx-gap-button);
  background-color: var(--nyx-c-button-background);
  border: var(--nyx-border-size-button) solid var(--nyx-c-button-background);
  color: var(--nyc-c-button-text);
  border-radius: var(--nyx-radius-md);
  padding: calc(var(--nyx-pad-button) * 0.75) var(--nyx-pad-button);
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, transform 0.2s;

  &:hover,
  &:active {
    background-color: var(--nyx-c-button-background-hover);
    border-color: var(--nyx-c-button-background-hover);
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    cursor: not-allowed;
    transform: scale(1);
    opacity: 0.75;
  }

  &.theme-primary {
    --nyx-c-button-background: var(--nyx-c-primary);
    --nyx-c-button-background-hover: var(--nyx-c-primary-highlight);
  }

  &.theme-secondary {
    --nyx-c-button-background: var(--nyx-c-secondary);
    --nyx-c-button-background-hover: var(--nyx-c-secondary-highlight);
  }

  &.theme-info {
    --nyx-c-button-background: var(--nyx-c-info);
    --nyx-c-button-background-hover: var(--nyx-c-info-highlight);
  }

  &.theme-success {
    --nyx-c-button-background: var(--nyx-c-success);
    --nyx-c-button-background-hover: var(--nyx-c-success-highlight);
  }

  &.theme-warning {
    --nyx-c-button-background: var(--nyx-c-warning);
    --nyx-c-button-background-hover: var(--nyx-c-warning-highlight);
  }

  &.theme-danger {
    --nyx-c-button-background: var(--nyx-c-danger);
    --nyx-c-button-background-hover: var(--nyx-c-danger-highlight);
  }

  &.variant-outline {
    background-color: transparent;
    color: var(--nyx-c-button-background);

    &:hover {
      background-color: var(--nyx-c-button-background);
      border-color: var(--nyx-c-button-background);
      color: var(--nyx-c-button-text);
    }
  }

  &.variant-ghost {
    background-color: transparent;
    border-color: transparent;
    color: var(--nyx-c-button-background);

    &:hover {
      border-color: var(--nyx-c-button-background);
    }

    &:active {
      background-color: var(--nyx-c-button-background);
      color: var(--nyx-c-white-soft);
    }
  }

  &.variant-text {
    background-color: transparent;
    border-color: transparent;
    color: var(--nyx-c-button-background);
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      width: calc(100% - 2 * var(--nyx-pad-button));
      height: var(--nyx-border-size-button);
      background-color: var(--nyx-c-button-background);
      border-radius: var(--nyx-radius-xl);
      opacity: 0;
      transform: scaleX(0);
      transition: opacity 0.2s, transform 0.2s;
    }

    &:hover:after {
      opacity: 1;
      transform: scaleX(1);
    }
  }

  &.size-xs {
    --nyx-gap-button: var(--nyx-gap-xs);
    --nyx-pad-button: var(--nyx-pad-xs);
    --nyx-font-size-button: var(--nyx-font-size-xs);
    --nyx-border-size-button: 1px;
  }

  &.size-sm {
    --nyx-gap-button: var(--nyx-gap-sm);
    --nyx-pad-button: var(--nyx-pad-sm);
    --nyx-font-size-button: var(--nyx-font-size-sm);
    --nyx-border-size-button: 1px;
  }

  &.size-lg {
    --nyx-gap-button: var(--nyx-gap-lg);
    --nyx-pad-button: var(--nyx-pad-lg);
    --nyx-font-size-button: var(--nyx-font-size-lg);
    --nyx-border-size-button: 2px;
  }

  &.size-xl {
    --nyx-gap-button: var(--nyx-gap-xl);
    --nyx-pad-button: var(--nyx-pad-xl);
    --nyx-font-size-button: var(--nyx-font-size-xl);
    --nyx-border-size-button: 3px;
  }

}