.nyx-tooltip {
  position: relative;
  display: inline-flex;
  cursor: pointer;
}

.nyx-tooltip__content {
  --nyx-c-tooltip-bg: var(--nyx-c-default);
  --nyx-c-tooltip-border: var(--nyx-c-default-highlight);
  --nyx-c-tooltip-text: var(--nyx-c-text-1);
  --nyx-radius-tooltip: var(--nyx-radius-md);
  --nyx-font-size-tooltip-base: var(--nyx-font-size-md);
  --nyx-font-size-tooltip: calc(var(--nyx-font-size-tooltip-base) * 0.75);
  --nyx-pad-tooltip-x: var(--nyx-pad-md);
  --nyx-pad-tooltip-y: calc(var(--nyx-pad-tooltip-x) * 0.1);
  --nyx-shadow-tooltip: var(--nyx-shadow-md);

  position: fixed;
  top: var(--top, 0);
  left: var(--left, 0);
  width: var(--width, auto);
  opacity: 0;
  transform: translate(0, -2rem);
  pointer-events: none;
  transition: opacity 0.2s, transform 0.2s;
  background-color: var(--nyx-c-tooltip-bg);
  color: var(--nyx-c-tooltip-text);
  border-radius: var(--nyx-radius-tooltip);
  // border: 1px solid var(--nyx-c-tooltip-border);
  z-index: 1;
  font-size: var(--nyx-font-size-tooltip);
  box-shadow: var(--nyx-shadow-md);

  &--open {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: all;
  }

  span {
    display: flex;
    padding: var(--nyx-pad-tooltip-y) var(--nyx-pad-tooltip-x);
  }

  &.theme-primary {
    --nyx-c-tooltip-bg: var(--nyx-c-primary);
    --nyx-c-tooltip-border: var(--nyx-c-primary-highlight);
  }

  &.theme-secondary {
    --nyx-c-tooltip-bg: var(--nyx-c-secondary);
    --nyx-c-tooltip-border: var(--nyx-c-secondary-highlight);
  }

  &.theme-success {
    --nyx-c-tooltip-bg: var(--nyx-c-success);
    --nyx-c-tooltip-border: var(--nyx-c-success-highlight);
  }

  &.theme-warning {
    --nyx-c-tooltip-bg: var(--nyx-c-warning);
    --nyx-c-tooltip-border: var(--nyx-c-warning-highlight);
  }

  &.theme-danger {
    --nyx-c-tooltip-bg: var(--nyx-c-danger);
    --nyx-c-tooltip-border: var(--nyx-c-danger-highlight);
  }

  &.theme-info {
    --nyx-c-tooltip-bg: var(--nyx-c-info);
    --nyx-c-tooltip-border: var(--nyx-c-info-highlight);
  }

  &.size-xs {
    --nyx-font-size-tooltip-base: var(--nyx-font-size-xs);
    --nyx-pad-tooltip-x: var(--nyx-pad-xs);
  }

  &.size-sm {
    --nyx-font-size-tooltip-base: var(--nyx-font-size-sm);
    --nyx-pad-tooltip-x: var(--nyx-pad-sm);
  }

  &.size-lg {
    --nyx-font-size-tooltip-base: var(--nyx-font-size-lg);
    --nyx-pad-tooltip-x: var(--nyx-pad-lg);
  }

  &.size-xl {
    --nyx-font-size-tooltip-base: var(--nyx-font-size-xl);
    --nyx-pad-tooltip-x: var(--nyx-pad-xl);
  }
}
