.nyx-table {
  --nyx-c-table: var(--nyx-c-default);
  --nyx-rgb-table: var(--nyx-rgb-default);
  --nyx-c-table-header: var(--nyx-c-table);
  --nyx-c-table-text: var(--nyx-c-text-1);
  --nyx-pad-table-base: var(--nyx-pad-md);
  --nyx-pad-table-multiplier: 1;
  --nyx-pad-table: calc(var(--nyx-pad-table-base) * var(--nyx-pad-table-multiplier));
  --nyx-radius-table: var(--nyx-radius-md);
  --nyx-table-stripe-intensity: 0;

  display: grid;
  grid-template-columns: var(--grid-template-columns, auto);
  width: 100%;
  text-align: left;
  color: var(--nyx-c-table-text--color-default);
  border: 1px solid var(--nyx-c-table);
  border-radius: var(--nyx-radius-table);
  overflow: hidden;
  line-height: 1.2;
  position: relative;

  tr,
  thead,
  tbody {
    display: contents;
  }

  th {
    background-color: var(--nyx-c-table-header);
    text-transform: capitalize;

    &:first-child {
      border-top-left-radius: var(--border-radius-md);
    }

    &:last-child {
      border-top-right-radius: var(--border-radius-md);
    }
  }

  th,
  td {
    display: flex;
    align-items: center;
    padding: var(--nyx-pad-table);

    & > span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  td {
    background-color: rgba(var(--nyx-rgb-table), var(--nyx-table-stripe-intensity));
    border-bottom: 1px solid rgba(var(--nyx-rgb-table), 0.5);
    transition: background-color 0.1s ease;
  }

  tr:last-child td {
    border-bottom: 0;
  }

  td.nyx-table__actions {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__actions > span {
    margin-left: auto;
    opacity: 0;
    transition: opacity 0.1s ease;
  }

  tr:hover td {
    --nyx-table-stripe-intensity: 0.3;
  }

  tr:hover &__actions > span {
    opacity: 1;
  }

  &.sticky thead {
    position: sticky;
    top: 0;
  }

  &.striped {
    td {
      border: 0;
    }

    tr:nth-child(2n) {
      --nyx-table-stripe-intensity: 0.1;
    }
  }

  &.theme-primary {
    --nyx-c-table: var(--nyx-c-primary);
    --nyx-rgb-table: var(--nyx-rgb-primary);
  }

  &.theme-secondary {
    --nyx-c-table: var(--nyx-c-secondary);
    --nyx-rgb-table: var(--nyx-rgb-secondary);
  }

  &.theme-info {
    --nyx-c-table: var(--nyx-c-info);
    --nyx-rgb-table: var(--nyx-rgb-info);
  }

  &.theme-success {
    --nyx-c-table: var(--nyx-c-success);
    --nyx-rgb-table: var(--nyx-rgb-success);
  }

  &.theme-warning {
    --nyx-c-table: var(--nyx-c-warning);
    --nyx-rgb-table: var(--nyx-rgb-warning);
  }

  &.theme-danger {
    --nyx-c-table: var(--nyx-c-danger);
    --nyx-rgb-table: var(--nyx-rgb-danger);
  }

  &.variant-outline {
  }

  &.variant-ghost {
  }

  &.variant-text {
  }

  &.size-xs {
    --nyx-pad-table-multiplier: 0.5;
    --nyx-pad-table-base: var(--nyx-pad-xs);
  }

  &.size-sm {
    --nyx-pad-table-multiplier: 0.75;
    --nyx-pad-table-base: var(--nyx-pad-sm);
  }

  &.size-lg {
    --nyx-pad-table-multiplier: 1.25;
    --nyx-pad-table-base: var(--nyx-pad-lg);
  }

  &.size-xl {
    --nyx-pad-table-multiplier: 1.5;
    --nyx-pad-table-base: var(--nyx-pad-xl);
  }
}
