.nyx-modal {
  --nyx-pad-modal: var(--nyx-pad-md);
  --nyx-pad-modal-y: var(--nyx-pad-modal);
  --nyx-pad-modal-x: calc(1.5 * var(--nyx-pad-modal));
  --nyx-font-size-modal: var(--nyx-font-size-md);
  --nyx-c-text: var(--nyx-c-text-1);
  --nyx-border-size-modal: 1px;
  --nyx-width-modal: 40rem;

  border: none;
  background-color: transparent;
  pointer-events: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  &.size-xs {
    --nyx-pad-modal: var(--nyx-pad-xs);
    --nyx-border-size-modal: 1px;
    --nyx-width-modal: 20rem;
  }

  &.size-sm {
    --nyx-pad-modal: var(--nyx-pad-sm);
    --nyx-border-size-modal: 1px;
    --nyx-width-modal: 30rem;
  }

  &.size-lg {
    --nyx-border-size-modal: 2px;
    --nyx-width-modal: 55rem;
  }

  &.size-xl {
    --nyx-border-size-modal: 3px;
    --nyx-width-modal: 100%;
  }

  &--open {
    pointer-events: all;
  }

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }

  &--open::after {
    opacity: 1;
  }

  &--no-backdrop::after {
    display: none;
  }

  &__content {
    z-index: 2;
    border-radius: var(--nyx-radius-md);
    background: var(--nyx-c-bg-mute);
    color: var(--nyx-c-text);
    overflow: hidden;
    padding: 0;
    max-width: calc(100dvw - 2rem);
    width: var(--nyx-width-modal);
    box-shadow: var(--nyx-shadow-md);
    opacity: 0;
    transform: translate(0, -2rem);
    transition: opacity 0.3s, transform 0.3s;
  }

  &--open &__content {
    opacity: 1;
    transform: translate(0, 0);
  }

  &__header,
  &__footer,
  &__body {
    padding: var(--nyx-pad-modal-y) var(--nyx-pad-modal-x);
  }

  &__header,
  &__footer {
    display: flex;
    gap: var(--nyx-gap-md);
  }

  &__header {
    font-size: calc(1.5 * var(--nyx-font-size-modal));
    font-weight: 600;
    border-bottom: var(--nyx-border-size-modal) solid var(--nyx-c-divider);
  }

  &__footer {
    justify-content: flex-end;
    // background-color: var(--nyx-c-bg-soft);
  }

  &__close {
    margin-left: auto;
  }

  &__body {
    font-size: var(--nyx-font-size-modal);
    line-height: 1.5;
    max-height: 75dvh;
    overflow-y: auto;
  }

  // &[open] &__content {
  //   opacity: 1;
  //   transform: translate(0, 0);

  //   @starting-style {
  //     opacity: 0;
  //     transform: translate(0, -2rem);
  //   }
  // }

  // &[open]::after {
  //   opacity: 1;

  //   @starting-style {
  //     opacity: 0;
  //   }
  // }
}
